{% set _id        = id|default('') %}
{% set _label     = text|default('') %}
{% set _icon_only = icon_only|default(false) %}

<cds-button
  {% if _id %} id="{{ _id }}" {% endif %}
  kind="{{ kind|default('primary') }}"
  size="{{ size|default('md') }}"
  {% if disabled %} disabled {% endif %}
  {% if href %}
    href="{{ href }}"
    {% if target %} target="{{ target }}" {% endif %}
    {% if download %} download="{{ download }}" {% endif %}
  {% else %}
    type="{{ type|default('button') }}"
  {% endif %}
  {% if _icon_only %}
    has-icon-only
    icon-description="{{ icon_description|default(_label)|e }}"
  {% endif %}
>
  {% if icon_svg %}
    <span slot="icon">{{ icon_svg|raw }}</span>
  {% endif %}

  {% if not _icon_only %}
    {{- _label -}}
  {% endif %}
</cds-button>
