<cds-structured-list
  id="{{ _id|escape }}"
  {{ condensed ? ' condensed' : '' }}
  {{ selectable ? ' selectable' : '' }}
>
  {% if caption %}
    <span slot="caption">{{ caption|escape }}</span>
  {% endif %}

  <cds-structured-list-head>
    <cds-structured-list-header-row>
      {% for header in headers %}
        <cds-structured-list-header-cell>{{ header|escape }}</cds-structured-list-header-cell>
      {% endfor %}
    </cds-structured-list-header-row>
  </cds-structured-list-head>

  <cds-structured-list-body>
    {% for row_item in rows %}
      <cds-structured-list-row
        {% if selectable and row_item.value is not empty %}
          value="{{ row_item.value|escape }}"
        {% endif %}
      >
        {% for cell_value in row_item.cells %}
          <cds-structured-list-cell>{{ cell_value|escape }}</cds-structured-list-cell>
        {% endfor %}
      </cds-structured-list-row>
    {% endfor %}
  </cds-structured-list-body>
</cds-structured-list>
